.block{
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn{
    overflow: hidden; !important;
}

.navbar-collapse.in {
    background: #212529;
}

.games{
    width: 80%;
    margin: 0 auto;
}

.game-card{
    width: 280px;
    height: 388px;
    position: relative;
    overflow: hidden;
}

.game-card:hover{
    z-index: 10;
}

.game-cover{
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: auto;
}

.game-cover img{
    display: block;
    margin: 0 auto;
}

.game-card .game-text{
    /*background-color: rgba(0,0,0,.9);*/
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0));
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.game-card:hover .game-text{
    opacity: 1;
    transition: 1s;
}

.game-card:not(:hover) .game-text{
    opacity: 0;
    transition: 1s;
}

.img-cards{
    display: inline-flex;
    background: #1c1f23;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: -1.5em;
    margin-bottom: -1.5em;
}

.img-card{
    object-fit: contain;
    vertical-align: middle;
    height: 60vh;
    width: 100%;
}

.img-card:hover{
    transition: 1s;
    height: 70vh;
    width: 100%;
}

.img-card:not(:hover){
    height: 60vh;
    transition: 1s;
}

.price-cards{
    margin: 0 auto;
    width: 1140px;
}

.card-header{
    text-align: center;
    vertical-align: middle;
}

.card-header-big{
    font-size: 68px;
}

.card-header-small{
    text-align: center;
    font-size: 32px;
}

.h-600px{
    height: 600px; !important;
}

.h-175px{
    height: 175px; !important;
}

.w-300px{
    width: 300px; !important;
}

.w-415px{
    width: 415px; !important;
}

#xbox:hover{
    transition: 1s;
    background-color: #0c4128;
}

#xbox:not(:hover){
    transition: 1s;
    background-color: rgba(0,0,0,0);
}

#switch:hover{
    transition: 1s;
    background-color: #6EEDEE;
}

#switch:not(:hover){
    transition: 1s;
    background-color: rgba(0,0,0,0);
}

#ps4:hover{
    transition: 1s;
    background-color: #0000B8;
}

#ps4:not(:hover){
    transition: 1s;
    background-color: rgba(0,0,0,0);
}

#ps5:hover{
    transition: 1s;
    background-color: #C1C5CE;
}

#ps5:not(:hover){
    transition: 1s;
    background-color: rgba(0,0,0,0);
}

.cover{
    object-fit: cover;
    height: 25vh;
    width: 100%;
}

#whyus{
    text-align: center;
}

.footer{
    background-color: white;
}

@media screen and (max-width: 992px){
    .img-cards{
        display: none;
    }
}

@media screen and (max-width: 1200px){
    .w-300px{
        width: 100%; !important;
    }
    .w-415px{
        width: 100%; !important;
    }
}